<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="xiaoxin.spzx.manager.mapper.SysMenuMapper">
<resultMap id="sysMenuMap" type="xiaoxin.spzx.model.entity.system.SysMenu" autoMapping="true">

</resultMap>
<!--    用于select查询公用抽取的列-->
    <sql id="columns">
        id,parent_id,title,component,sort_value,status,create_time,update_time,is_deleted
    </sql>
    <insert id="insert">
        insert into sys_menu(
        id,
        parent_id,
        title,
        component,
        sort_value,
        status) values(
        #{id},
        #{parentId}，
        #{title},
        #{component},
        #[sortValue},
        #{status})
    </insert>
    <update id="updateById">
        update sys_menu set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null and sortValue != ''">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status != #{status},
        </if>
        update_time = now()
        where id = #{id}
    </update>
    <update id="deleteById">
        update sys_menu set
        update_time = now(),
        is_deleted = 1
        where id = #{id}
    </update>
    <select id="selectAll" resultMap="sysMenuMap">
        select <include refid="columns"></include>
        from sys_menu
        where is_deleted = 0
        order by sort_value
    </select>
    <select id="countByParentId" resultType="java.lang.Integer">
        select count(*)
        from sys_menu
        where parent_id = #{id}
        and is_deleted = 0
    </select>
    <select id="selectListByUserId" resultMap="sysMenuMap">
        select distinct m.* from sys_menu m
        inner join sys_role_menu rm on rm.menu_id = m.id
        inner join sys_user_role ur on ur.role_id = rm.role_id
        where ur.user_id = #{userId} and m.is_deleted = 0
    </select>
    <select id="selectById" resultMap="sysMenuMap">
        select <include refid="columns"></include> from sys_menu where id = #{id}
    </select>
</mapper>